<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de emprendimiento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style/emprendimiento.css">
    <link rel="stylesheet" href="/style/emprendimiento.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
</head>

<body>
        <!--navbar LOGOUT-->
    <div  th:if="${session.usuariosession == null}" class="container-fluid navbar navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg container">
            <div class="container-fluid">
                <a class="navbar-logo" href="#">
                    <img th:href="@{/}" src="/img/logotexto.png">
                </a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link margen" th:href="@{/emprendimiento/}">Emprendimientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link margen" th:href="@{/leyes/}">Leyes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link margen" th:href="@{/foro/}">Foro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link margen" th:href="@{/consulta/}">Consulta</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a th:href="@{/user/login}">
                            <i  class="fas fa-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--navbar OK-->
    <div th:if="${session.usuariosession != null}" class="container-fluid navbar navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg container">
            <div class="container-fluid">
                <a class="navbar-logo" href="#">
                    <img th:href="@{/}" src="/img/logotexto.png">
                </a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link margen" th:href="@{/emprendimiento/}">Emprendimientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link margen" th:href="@{/leyes/}">Leyes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link margen" th:href="@{/foro/}">Foro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link margen" th:href="@{/consulta/}">Consulta</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a th:text="${session.usuariosession.username}">A</a>
                        <a th:href="@{/logout}">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-------BODY------->
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="container-cover">
                <div class="perfil-usuario-portada">
                    <div class="perfil-usuario-avatar">
                        <img src="/img/user.jpg" alt="img-avatar">
                    </div>
                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Nombre emprendimiento</h3>
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="social-bar">
            <a href="#" class="icon icon-facebook" target="_blank"></a>
            <a href="#" class="icon icon-instagram" target="_blank"></a>
    </section>
   
    <section class="info">
        <div class="lista">
            <ul class="datos-personales">
                <li class="items">
                    <div class="icon-label">
                        <i class="bi bi-geo-alt-fill icon-class"></i><p class="dato">Dirección</p>
                    </div>
                    <p class="datocolor">Calle Falsa 123</p>
                </li>
                <hr class="lineaperfil">
                <li class="items">
                    <div class="icon-label">
                        <i class="bi bi-telephone-fill icon-class"></i><p class="dato">Télefono</p> 
                    </div>
                    <p class="datocolor">3413185122</p>
                </li>
            </ul>
        </div>
    </section>

   
    
    <!-------FIN DE BODY-------->

    <!-------PIE DE PAGINA------>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="/img/logotexto.png" alt="logo Migra">
                    </a>
                </figure>
            </div>
            <div class="box-contacto">
                <h2 class="contacto">CONTACTO</h2>
                <ul class="lista-contacto">
                    <li>Telefono: +54 9 11 2255 2793</li>
                    <li>Dirección: Rioja 1474, Piso 8</li>
                    <li>E-Mail: info@fundacionmigra.org</li>
                </ul>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2021 <b>Mesa 5</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
    <!------ FIN DE PIE DE PAGINA------->
</body>

</html>
