<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, user-scalable=no, initial=
        scale=1, maximum-scale=1, minimum=scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">           
        <link rel="stylesheet" href="/style/style_plantilla_noticia.css">
        <title>Platilla Noticia</title>
    </head>

    <body> 
    
    <div class="container">
        <h1 class="titulo-noticia">Titulo de la Noticia</h1>
        <img src="s_feria_bulevar_0.jpg" >
        <p class="texto-noticia">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quibusdam numquam laborum. Quos odio ratione delectus voluptas ipsum magni eligendi id unde cum quae tempora inventore, excepturi, voluptates quo a. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat quae neque odio voluptas placeat dignissimos ab nam ex voluptates, aperiam quidem facere commodi! Quibusdam doloremque aliquid sapiente iure nobis voluptate. 
        </p>

        <p class="texto-noticia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus praesentium ullam recusandae, quas et minus dicta tempore, provident saepe quasi modi tenetur consequatur qui quisquam ipsam ea molestias obcaecati aliquid! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse laborum reprehenderit dolorum illo in laboriosam tempore. Rerum, nemo veniam, libero harum sunt voluptatum dolor odio, dignissimos recusandae quam in!</p>
    </div>
   

        
    </body>
</html> 