<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, user-scalable=no, initial=
        scale=1, maximum-scale=1, minimum=scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">           
        <link rel="stylesheet" href="/style/style_plantilla_noticia.css">
        <title>Platilla Noticia</title>
    </head>

    <body> 
    
    <div class="container">
        <h1 class="titulo-noticia">Fundación Migra organiza la 1ra Feria Virtual de Emprendedores</h1>
        <img src="/img/s_feria_bulevar_0.jpg" >
        <p class="texto-noticia">El pasado 15 de diciembre se organizó la 1ra Feria Virtual de emprendedores con el objetivo de crear un espacio (virtual en esta oportunidad) 
        para que se difundan y comercien los emprendimientos de migrantes y refugiados de la ciudad de Rosario y de Argentina (al ser virtual pueden participar), y que aprovechen 
        la oportunidad de ventas por las festividades navideñas.</p>
        
        <p class="texto-noticia">En esta feria participaron 17 emprendimientos de migrantes ubicados en Rosario y Buenos Aires, de diversas nacionalidades y sectores económicos.

			Emprendimientos participantes:
			-Prontarepa: https://www.instagram.com/prontarepa_ar/
			-Arepas Rosario: https://www.instagram.com/areparosario/
			-La Casa del Sabor Latino: https://www.instagram.com/lacasadelsa...
			-Yuyupollofrito: https://www.instagram.com/yuyupicapollo/
			-La Cubana Mía:  https://www.instagram.com/lacubanamia/
			-Zuvi Tequeños y más antojos: https://www.instagram.com/zuvitequeno...
			-+ke Quesos: https://www.instagram.com/maske.quesos/
			-La casa del dulce roll: https://www.instagram.com/cinnamonrol...
			-Dulzuras Tataceli: https://www.instagram.com/dulzuras.ta...
			-Il Capriccio Cakes: https://www.instagram.com/ilcapriccio...
			-Cataleya Pan: https://www.instagram.com/cataleya_pan/
			-Churritos Ricos: https://www.instagram.com/churritosri...
			-Licores Artesanales HT: https://www.instagram.com/licoresarte...
			-Tachis Design: https://www.instagram.com/tachisdesign/
			-Monagas Barber Shop: https://www.instagram.com/monagasbarb...
			-De Liz Ambos de Diseño: https://www.instagram.com/deliz.ambos/
        </p>

        <p class="texto-noticia">Esta actividad se enmarca dentro de un proyecto de "Contribución a la Inclusión Socioeconómica y Sociocultural de la población migrante
         y refugiada de la ciudad de Rosario" financiado por la Unión Europea, implementado con el apoyo de la Agencia de Naciones Unidas para los Refugiados (ACNUR) y la 
         Organización Internacional para las Migraciones (OIM), articulado con la Secretaría de Derechos Humanos de la Nación (Argentina).</p>
    </div>
   

        
    </body>
</html> 