<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>RECUPERACIÓN DE CONTRASEÑA</h1>
    <h2>INGRESE SU EMAIL</h2>
    <form th:action="@{/user/resetpassword}" method="POST">
        <input type="text" name="email" placeholder="Email">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>