<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, user-scalable=no, initial=
        scale=1, maximum-scale=1, minimum=scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">           
        <link rel="stylesheet" href="style_leyes_prueba.css">
        <title>Sección Leyes Prueba</title>
    </head>

    <body> 
        <!--navbar-->
        <div class="container-fluid navbar navbar-dark bg-dark">
            <nav class="navbar navbar-expand-lg container">
                <div class="container-fluid">
                    <a class="navbar-logo" href="#">
                        <img src="logotexto.png">
                    </a>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link margen" href="#">Emprendimientos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link margen" href="#">Lugares de ayuda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link margen" href="#">Leyes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link margen" href="#">Foro</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
        
        <!-- Sección leyes-->
        <div class="container"> 
            <div>
                <h1 class="titulo-plantilla">Marco Legal para Emprededores</h1>
            </div>
           
    
            <div class="leyes">
                <div class="contenedor-leyes">
                    <div class="contenedor-ley">
                        <p class="ley">Soy emprendedor</p>                     
                        <p class="texto-ley">Te acompañamos en el proceso de crear, desarrollar o consolidar proyectos.</p>
                     <a href="https://www.argentina.gob.ar/tema/emprender/soy-emprendedor" target="_blank" rel="nooper noreferrer">Leer más...</a>
                        
                    </div>
                    <div class="contenedor-ley">
                        <p class="ley">Ley Empredimiento1</p>                     
                        <p class="texto-ley">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae mollitia adipisci repellat modi illum, vitae tempora perspiciatis deleniti velit officia odit facere enim doloribus placeat laboriosam cupiditate iste consequatur autem.</p>
                        <a href="https://www.argentina.gob.ar/tema/emprender/soy-emprendedor" target="_blank" rel="nooper noreferrer">Leer más...</a>
                    </div>
                    <div class="contenedor-ley">
                        <p class="ley">Ley Empredimiento1</p>                     
                        <p class="texto-ley">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae mollitia adipisci repellat modi illum, vitae tempora perspiciatis deleniti velit officia odit facere enim doloribus placeat laboriosam cupiditate iste consequatur autem.</p>
                        <a href="https://www.argentina.gob.ar/tema/emprender/soy-emprendedor" target="_blank" rel="nooper noreferrer">Leer más...</a>
                    </div>

                    <div class="contenedor-ley">
                        <p class="ley">Ley Empredimiento1</p>                     
                        <p class="texto-ley">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae mollitia adipisci repellat modi illum, vitae tempora perspiciatis deleniti velit officia odit facere enim doloribus placeat laboriosam cupiditate iste consequatur autem.</p>
                        <a href="https://www.argentina.gob.ar/tema/emprender/soy-emprendedor" target="_blank" rel="nooper noreferrer">Leer más...</a>

                    </div>

               </div>
              
            

        </div>
       
   </body>
  
</html> 