<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, user-scalable=no, initial=
        scale=1, maximum-scale=1, minimum=scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">           
        <link rel="stylesheet" href="/style/emprendimiento.css">
        <link rel="stylesheet" href="/style/style_leyes_prueba.css">
        <link rel="stylesheet" href="/style/estilofooter.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
        

        <link rel="stylesheet" href="/style/style_leyes.css">
        <title>Sección Leyes</title>
    </head>

    <body> 

        <!-- navbar logout -->
<nav th:if="${session.usuariosession == null}" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
        <a class="navbar-brand" href="../"><img th:href="@{../}" class="logo" src="/img/logotexto.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0 align-items-center ">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/emprendimiento/}">Emprendimientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/capacitaciones/}">Capacitaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/foro/}">Foro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/consulta/}">Consultas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/leyes/}">Leyes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/noticias/}">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <!-- navbar login -->
    <nav th:if="${session.usuariosession != null}" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid ">
            <a class="navbar-brand" href="../"><img th:href="@{/}" class="logo" src="/img/logotexto.png"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav  mb-2 mb-lg-0 align-items-center ">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/emprendimiento/}">Emprendimientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/capacitaciones/}">Capacitaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/foro/}">Foro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/consulta/}">Consultas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/leyes/}">Leyes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/noticias/}">Noticias</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu-usuario" href="#" id="navbarDarkDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="img-container-logo">
                                <img th:if="${session.usuariosession.foto != null}" th:src="${'/foto/usuario?id=' + session.usuariosession.id}" class="foto-logo" alt="img-avatar">
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                            <li><a class="dropdown-item" th:href="@{/user/profile/}+${session.usuariosession.id}">Mi perfil</a></li>
                            <li><a class="dropdown-item" th:href="@{/emprendimiento/}+${id}">Mis emprendimientos</a></li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        
        <!-- Sección leyes-->
        <div class="container"> 
            <div>
                <h1 class="titulo-plantilla">Marco Legal para Emprededores</h1>
            </div>
           
    
            <div class="leyes">
                <div class="contenedor-leyes">
                    <div class="contenedor-ley">
                        <p class="ley">Soy emprendedor</p>                     
                        <p class="texto-ley"> ¿Atesorás una idea y querés convertirla en un emprendimiento real?; ¿sos parte de una cooperativa y te interesa hacerla fuerte?; ¿tenés una PyME y deseás que gane en solidez y competitividad? Estos trámites y servicios te permitirán obtener herramientas de financiamiento, capacitación y asistencia para emprender, innovar o crecer.</p>
                     <a href="https://www.argentina.gob.ar/tema/emprender" target="_blank" rel="nooper noreferrer">Leer más...</a>
                        
                    </div>
                    <div class="contenedor-ley">
                        <p class="ley">Obtener CUIT por Internet</p>                     
                        <p class="texto-ley">La CUIT (Clave Única de Identificación Tributaria) es un código con el que la AFIP identifica a trabajadores autónomos, comercios y empresas. Aquí te guiamos, paso a paso, para que puedas obtenerla.</p>
                        <a href="https://www.argentina.gob.ar/servicio/obtener-cuit-por-internet" target="_blank" rel="nooper noreferrer">Leer más...</a>
                    </div>
                    <div class="contenedor-ley">
                        <p class="ley">Ley General de Sociedades 19.550</p>                     
                        <p class="texto-ley">La Ley 19550 regula los siguientes tipos sociales: sociedad colectiva, sociedad en comandita simple, sociedad de capital e industria, sociedad de responsabilidad limitada, sociedad anónima, sociedad en comandita por acciones y la sociedad anónima unipersonal.</p>
                        <a href="https://www.argentina.gob.ar/sites/default/files/ley_19.550_-_extracto_artculos_118_-_123.pdf" target="_blank" rel="nooper noreferrer">Leer más...</a>
                    </div>

                    <div class="contenedor-ley">
                        <p class="ley">Código Civil y Comercial de la Nación. Ley 26.994</p>                     
                        <p class="texto-ley">El Código Civil y Comercial de la Nación es el cuerpo legal que reúne​ las bases del ordenamiento jurídico en materia civil y comercial en la Argentina.</p>
                        <a href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/235000-239999/235975/texact.htm#2" target="_blank" rel="nooper noreferrer">Leer más...</a>

                    </div>

               </div>
              
            

        </div>

        
        <footer class="pie-pagina">

        </div>
         <!-- pie de pagina -->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                 <a href="#">
                    <img src="/img/logotexto.png" alt="Logo Migra">
                    </a>
                </figure>
            </div>
           
            <div class="box">
                <h2 class="contacto">SEGUINOS EN LAS REDES</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/fundacionmigra/?ref=page_internal" class="fa fa-facebook" target="_blank"></a>
                    <a href="https://www.instagram.com/fundacionmigra/" class="fa fa-instagram" target="_blank"></a>
                    <a href="https://twitter.com/fundacionmigra" class="fa fa-twitter" target="_blank"></a>
                    <a href="https://www.linkedin.com/company/fundaci%C3%B3nmigra/" class="fa fa-linkedin" target="_blank"></a>
                </div>
            </div>

            <div class="box-contacto">
                <h2 class="contacto">CONTACTO</h2>
                <ul class="lista-contacto">
                    <li>Telefono: +54 9 11 2255 2793</li>
                    <li>Dirección: Rioja 1474, Piso 8</li>
                    <li>E-Mail: info@fundacionmigra.org</li>
                </ul>
            </div>
        </div>
        <div class="grupo-2">
             <small>&copy; 2021 <b>Mesa 5</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>


    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
   </body>
  
</html> 