*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*nav*/
.navbar-logo{
    display:flex;
    vertical-align: middle;
    width: 150px;
}
.navbar-logo img{
    display:block;
    width: 100%;
    height:fit-content;
}
.margen {
      margin-left: 20px;
      margin-right: 20px;
}

body{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 1000px;
    width: 90%;
    margin: 40px auto;

}

.titulo-plantilla{
    color: #3b3b3d;
    font-weight: 700;
    text-align: center;
    margin: 60px 0;
     
}


footer:hover{
    cursor: pointer;
}

/*!contendor-leyes*/
.contenedor-leyes{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.contenedor-ley{
    background-color: #fff;
    padding: 40px;
    border: 2px solid #db9f1c;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease all;
  
}

/*!ley*/
.ley{
    font-weight: 700;
    font-size: 20px;
    color: #3b3b3d;
    line-height: 20px;
    text-align: justify;
    padding-bottom: 20px;
    display: flex;
    
}

.texto-ley{
    color: #3b3b3d;
    text-align: justify;
    line-height: 25px;       

}


.contenedor-ley a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #db9f1c;
    border: 1px solid #db9f1c;
    border-radius: 4px;
    transition: all 400ms ease;
}

.contenedor-ley a:hover{
    background: #db9f1c;
    color: #fff;
}




